{% extends 'base.html' %}
<!-- Body Information -->
{% block content %}

<div class="container">
  {% if not author %}
  <p>We cannot find the chef you are looking for.</p>
  {% else %}

  <h1 style="text-align: center; color: blue;">
    Recipes Sorted by Chef {{ name }}
  </h1>
  <ul>
    {% for post in author %}
    <li>
      <a href="/post/{{ post.id }}/">{{post.title}}</a> - from
      {{post.author.name}}
    </li>
    {% endfor %}
  </ul>
  <hr />
  <h4 style="font-weight: bold; text-align: center;">About {{ name }}:</h4>
  <p style="font-style: italic;">{{ bio }}</p>
  {% endif %}
</div>
<div class="container">
  <h6><a href="/index/">Go Back Home</a></h6>
</div>
{% endblock  %}