<!-- CSS only -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
  integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
  crossorigin="anonymous"
/>

<!-- JS, Popper.js, and jQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
  integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
  crossorigin="anonymous"
></script>

<!-- Body Information -->
<header>
  <h1 style="text-align: center; font-weight: bold;">Welcome to RecipeBox</h1>
  <h4 style="text-align: center; color: blue;">Hello, {{ name }}!!!</h4>
</header>
<br />
<div class="container">
  <h3><strong>Latest Recipes</strong></h3>
  <ul>
    {% for post in recipes %}
    <li>
      <a href="/post/{{ post.id }}/">{{ post.title }}</a> - from
      <a href="/author/{{ post.author.id }}/">{{ post.author.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
