{% extends 'base.html' %}

{% block content %}
    
    <div class="jumbotron">
        <h1 class="display-4">Welcome to RecipeBox!</h1>
        <p class="lead">An application for finding the best recipes from the most renowed chefs in the world.</p>
    </div>
    {% if request.user.is_authenticated %}
        <div class="container-sm">
            <h3 style="text-align: center; color: gray">Hello, {{ request.user.username }}!</h3>
            <hr class="my-4">
        </div>
    {% endif %}
    <div class='container'>
        <h4 style="text-align: center">See the latest recipes!</h4>
        <table class="table list-group-flush table-hover">
            <tbody>
                {% for post in recipes %}
                    <tr>
                        <td><a href="/post/{{ post.id }}/">{{ post.title }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
    <span style="text-align: center">
        <a href="/addrecipe/" class="btn btn-secondary" role="button">Add a Recipe!</a>
    </span>
        <span style="text-align: center">
        <a href="/addauthor/" class="btn btn-secondary" role="button">Add a Chef!</a>
    </span>
    </div>
{% endblock  %}