{% extends 'base.html' %}

{% block content %}
<!-- Body Information -->

<div class="container">
  {% if not post %}
  <h1>I'm sorry! We don't have that recipe available!</h1>
  {% else %}
  <h2 style="text-align: center; color=blue">{{ post.title }}</h2>
  <h4 style="text-align: center;">
    made by <a href="/author/{{ post.author.id }}">{{ post.author.name }}</a>
  </h4>
  <hr />
  <p><em>{{ post.description }}</em></p>
  <hr />
  <p><strong>Time Required:</strong> {{ post.time_required }}</p>
  <strong>Instructions:</strong><br />
  <p>{{ post.instructions }}</p>
  {% endif %}
</div>
<div class="container">
  <h6><a href="/index/">Go Back Home</a></h6>
</div>

{% endblock  %}